#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

TARGET=arm-none-eabi
PACKAGE=gcc-arm-none-eabi

CONFARGS = -v \
	--prefix=/usr/lib \
	--infodir=/usr/share/info \
	--mandir=/usr/share/man \
	--bindir=/usr/bin \
	--libexecdir=/usr/lib \
	--libdir=/usr/lib \
	--disable-shared \
	--enable-multilib \
	--enable-languages="c,c++" \
	--with-gnu-as \
	--with-gnu-ld \
	--with-system-zlib \
	--enable-long-long \
	--disable-nls \
	--disable-threads \
	--disable-libssp \
	--disable-libstdcxx-pch \
	--disable-libmudflap \
	--disable-libgomp \
	--disable-werror \
	--without-included-gettext \
	--build=$(DEB_BUILD_GNU_TYPE) \
	--host=$(DEB_HOST_GNU_TYPE) \
	--target=$(TARGET) \
	--with-newlib \
	--disable-newlib-supplied-syscalls \
	--with-headers=newlib/libc/include \


srcdir=src

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TAR_DIR=gcc-*

SOURCE_DIR := /usr/src/gcc-4.6/
patchdir = $(SOURCE_DIR)/patches

include $(SOURCE_DIR)/debian/rules.defs
include $(SOURCE_DIR)/debian/rules.patch
include $(SOURCE_DIR)/debian/rules.unpack

patch-source: $(patch_stamp)

clean-source:
	rm -rf $(stampdir)
	rm -rf $(gcc_srcdir) $(gdc_srcdir) d
	rm -rf bin
	rm -rf $(srcdir)

BUILD_TREE=src

patched-stamp:=$(STAMP_DIR)/patched-stamp

patch-stamp:
	cd $(BUILD_TREE) && for p in `cat ../debian/patchlist`; do echo Applying $$p; patch -p0 < ../debian/$$p; done
	touch patch-stamp

configure: configure-stamp
#configure-stamp: $(patched)
configure-stamp: $(unpack_stamp) patch-stamp
	dh_testdir
	rm -f $(BUILD_TREE)/gcc/doc/*.1
	rm -f $(BUILD_TREE)/gcc/doc/*.info
	mkdir -p objdir
	# Add here commands to configure the package.

	mkdir newlib-src
	cd newlib-src && tar xf /usr/src/newlib/newlib-1.18.0.tar.lzma 
	ln -s ../newlib-src/newlib ${BUILD_TREE}/
	ln -s ../newlib-src/libgloss ${BUILD_TREE}/

	cd objdir && env CC="gcc" `echo ../$(BUILD_TREE)`/configure $(CONFARGS) 
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp: patch-stamp
	dh_testdir

	# Add here commands to compile the package.
	cd objdir && $(MAKE) -j6
	#/usr/bin/docbook-to-man debian/$(PACKAGE).sgml > $(PACKAGE).1

	touch build-stamp

clean: clean-source
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp patch-stamp

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	#rm -rf $(STAMP_DIR) $(SOURCE_DIR) objdir
	rm -rf objdir

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/$(PACKAGE).
	echo install: > objdir/fixincludes/Makefile
	cd objdir && $(MAKE) install DESTDIR=$(CURDIR)/debian/$(PACKAGE)/

	#rm debian/$(PACKAGE)/usr/share/man/man1/avr-g++.1
	#ln -s avr-gcc.1.gz debian/$(PACKAGE)/usr/share/man/man1/avr-g++.1.gz
	#ln -s avr-g++.1.gz debian/$(PACKAGE)/usr/share/man/man1/avr-c++.1.gz
	#ln -s avr-gcc.1.gz debian/$(PACKAGE)/usr/share/man/man1/avr-gcc-4.3.0.gz
	#install -m644 debian/avr-gccbug.1 debian/$(PACKAGE)/usr/share/man/man1/avr-gccbug.1
	#gzip -9 debian/$(PACKAGE)/usr/share/man/man1/avr-gccbug.1

	cd debian/$(PACKAGE)/usr/ && \
	  rm -rf bin/gcov bin/gccbug share/man/man1/gcov.1* \
	    lib*/libiberty.a share/info share/man/man7/gfdl.7* \
	    share/man/man7/gpl.7* share/man/man7/fsf-funding.7* \
	    share/locale bin/*c++filt lib/$(TARGET) \
	    share/man lib/share lib/include 

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs -n
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs 
	dh_link
	dh_strip -X.a -X.o
	dh_compress 
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
